<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista de tarefas</title>
</head>
    <h1> <%= algumDia %></h1>
    <ul>
        <% for (var i = 0; i < novoItem.length; i++){ %>  
            <li> <%= novoItem[i] %> </li>
        <% } %> 
    </ul>
    <form action="/" method="post">
        <input type="text" name="coisas" placeholder="Estou aqui para te lembra">
        <button type="submit" name="button">add</button>
    </form>
<body>
    
</body>

</html>