<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lista de tarefas</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1> <%= algumCoisa %></h1>
        
    </div>
    
    <div class="box">
        <% for (var i = 0; i < novoItem.length; i++){ %>  
            <div class="item">
                <input type="checkbox" >
                <p> <%= novoItem[i] %> </p>
            </div>
        <% } %> 

        <form class="item" action="/" method="post">
            <input type="text" name="novaTarefa" placeholder="Estou aqui para te lembra">
            <button type="submit" name="list" value=<%= algumCoisa %> >+</button>
        </form>
    </div>
</body>

</html>